.input {
  border-radius: 4px;
  margin-bottom: 25px;
  width: 100%;
  outline: none;
  height: 68px;
  padding: 16px;
  border: 1px solid #c9d8e8;
  transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out;
  caret-color: rgb(0, 179, 113);

  &:hover {
    border-color: #9fa7be;
    box-shadow: inset 0 0 0 1px #9fa7be;
  }

  &:focus {
    border-color: #00b371;
    box-shadow: inset 0 0 0 1px #00b371;
  }

  &.search-input {
    height: 52px;
    margin-right: 12px;
  }

  &.feedback-form__input {
    height: 52px;
    width: 100%;

    &::placeholder {
      color: #cad8e8;
    }
  }

  &.calculator-input {
    margin-bottom: 0;
  }

  &.subscription__form-input {
    margin-right: 20px;
    max-width: 400px;
    width: 100%;
    height: 52px;
    font-size: 16px;
    line-height: 1;
    color: rgb(33, 49, 65);
    appearance: none;
    caret-color: rgb(0, 179, 113);
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 216, 232);
    border-image: initial;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s;
    outline: none;

    &:focus {
      border-color: #00b371;
      box-shadow: inset 0 0 0 1px #00b371;
    }
  }
}

@media (max-width: 1080px) {
  .input {
    &.subscription__form-input {
      margin-right: 0;
    }
  }
}

@media (max-width: 600px) {
  .input {
    &.subscription__form-input {
      max-width: unset;
    }

    &.search-input {
      height: 40px;
      margin-right: 0;
      width: 91%;
    }

    &.feedback-form__input {
      margin-bottom: 24px;
    }
  }
}