.feedback {
  width: 83%;
  max-width: 1058px;
  display: flex;
  flex-wrap: nowrap;
  padding: 53px 20px 50px;
  justify-content: space-between;

  &__contacts {

    &-row {
      color: #213141;
      font-size: 18px;
      line-height: 1.56;

      a {
        transition: color .3s ease-in-out;

        &:hover {
          color: #00b38b;
        }
      }

      & + & {
        margin-top: 40px;
      }
    }
  }

  &__form {
    max-width: 600px;
    width: 100%;

    &-inputs {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    textarea {
      outline: none;
      width: 100%;
      height: 52px;
      font-size: 16px;
      line-height: 1;
      color: rgb(33, 49, 65);
      appearance: none;
      caret-color: rgb(0, 179, 113);
      padding: 16px;
      border: 1px solid #c9d8e8;
      border-radius: 4px;
      margin-bottom: 26px;
      resize: none;
      min-height: 147px;
      transition: border-color 0.3s ease-in-out 0s, box-shadow 0.3s ease-in-out 0s;

      &::placeholder {
        color: #cad8e8;
      }

      &:hover {
        border-color: #9fa7be;
        box-shadow: inset 0 0 0 1px #9fa7be;
      }

      &:focus {
        border-color: #00b371;
        box-shadow: inset 0 0 0 1px #00b371;
      }
    }
  }
}