.subscription {
  width: 100%;
  background-color: #0f1820;
  border-radius: 8px;
  padding: 52px 40px 68px;

  &__inner {
    .subscription__title {
      font-size: 32px;
      line-height: 48px;
      position: relative;
      margin-bottom: 24px;
      font-weight: 300;
      color: #fff;
      text-align: center;
    }

    .subscription__form {
      display: flex;
      justify-content: center;

      form {
        max-width: 626px;
        width: 100%;
        display: flex;
      }
    }
  }
}

@media (max-width: 1080px) {
  .subscription {
    &__inner {
      .subscription__title {
        font-size: 24px;
      }

      .subscription__form {
        form {
          max-width: 368px;
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .subscription {
    padding: 26px 20px 34px;

    &__inner {
      .subscription__title {
        line-height: 40px;
      }

      .subscription__form {
        form {
          max-width: unset;
        }
      }
    }
  }
}