.container {
  display: flex;
  justify-content: center;
  padding: 0 40px;
  max-width: 1280px;
  width: 100%;
  //background-color: #4a9eb8;
  background-color: #fff;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .container {
    padding: 0 20px;
  }
}