.single-news {
  width: 100%;
  margin-bottom: 50px;
  background-color: #76cf53;

  &__link {
    margin: 32px 0 24px 0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;

    a {
      position: relative;
      padding: 11px 32px 9px 40px;
      background: #e7effd;
      color: #213141;
      transition: opacity .3s ease-in-out,background .3s ease-in-out;
      border-radius: 4px;

      &:hover {
        background: #ced8e8;
      }

      .icon {
        position: absolute;
        left: 10px;
        transform: rotate(90deg);
        width: 17px;
        height: 17px;
      }
    }
  }

  &__content {
    padding: 0 208px;

    &-createdAt {
      font-size: 14px;
      line-height: 14px;
      font-weight: 500;
      color: #b1b7c7;
      margin-bottom: 32px;
    }

    &-text {
      p {
        font-size: 20px;
        line-height: 36px;
        font-family: georgia, Times New Roman, times, serif;
        margin-bottom: 35px;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}