.news {
  width: 100%;

  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0;
  }

  &__card {
    min-height: 260px;
    max-width: 260px;
    border: 1px solid #2239dd;
    //border: 1px solid #00b371;
    border-radius: 8px;
    padding: 32px;
    width: 100%;
    transition: .3s ease-in-out;

    &:hover {
      transform: translateY(-10px) perspective(1000px) rotateX(-12deg);
    }

    &.wide {
      max-width: 590px;
      width: 100%;
    }

    &-date {
      font-size: 14px;
      line-height: 16px;
      opacity: .5;
    }

    &-image {
      object-fit: cover
    }
  }
}

@media (max-width: 600px) {
  .news {
    &__card {
      max-width: unset;
      width: 100%;
    }
  }
}