.products {
  width: 100%;

  &__inner {
    display: flex;

    &-main {
      max-width: 912px;
      width: 100%;
      margin-right: 10px;

      &__list {
        margin-bottom: 28px;

        .main__list-product {
          display: flex;
          //flex-wrap: wrap;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          padding: 28px 28px 28px 0;
          min-height: 105px;
          border-bottom: 1px dashed #e7effd;
          transition-duration: .3s;

          &:hover {
            background-color: rgba(201, 216, 232, .2);
          }

          &__name {
            font-size: 18px;
            line-height: 28px;
          }

          &__info {
            .product__info-price {
              margin-bottom: 4px;
              font-size: 22px;
              line-height: 28px;
              font-weight: 500;

              span {
                font-weight: 300;
                color: #8ea2bb;
              }
            }

            .product__info-description {
              color: #00b371;
              font-size: 12px;
              line-height: 16px;

              span {
                font-size: 14px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }

    &-filters {
      max-width: 288px;
      padding: 40px 24px;
      border-radius: 8px;
      background-color: rgba(201, 216, 232, .2);
      position: relative;

      &__group {
        .filters__group-payment {

        }

        .filters__group-format {

        }

        .filters__group-shipment {

          &__row {
            display: flex;
            align-items: center;
          }
        }

        .filters__group-price {

          &__range {
            display: flex;
            align-items: center;
          }
        }

        .filters__group-shipment-bases {

          .shipment-bases__row {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}